.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: none;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: .25rem;

}
.container{
    text-align: center;
}
.container .center{
    margin: 25px;

}
.btn{
    background-color:#57D657;
    margin-top: 30px;
    margin-left: 10px;
}
.center img{
    width: 450px;
}